USE [master]
GO
/****** Objeto:  Database [BUILLON]    Data do Script: 16/05/2026 17:13:50 ******/
CREATE DATABASE [BUILLON]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BUILLON', FILENAME = N'C:\Users\Leozim Prates\BUILLON.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BUILLON_log', FILENAME = N'C:\Users\Leozim Prates\BUILLON_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BUILLON].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BUILLON]
GO
/****** Objeto:  Table [dbo].[CATEGORIA]    Data do Script: 16/05/2026 17:13:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOME_CATEGORIA] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[CLIENTE]    Data do Script: 16/05/2026 17:13:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[CPF] [varchar](11) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[SENHA] [varchar](255) NOT NULL,
	[DATA_CADASTRO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ENDERECO]    Data do Script: 16/05/2026 17:13:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENDERECO](
	[ID_ENDERECO] [int] IDENTITY(1,1) NOT NULL,
	[ID_ESTABELECIMENTO] [int] NOT NULL,
	[RUA] [varchar](100) NULL,
	[NUMERO] [varchar](100) NULL,
	[BAIRRO] [varchar](50) NULL,
	[CIDADE] [varchar](50) NULL,
	[ESTADO] [varchar](2) NULL,
	[CEP] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ENDERECO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ESTABELECIMENTO]    Data do Script: 16/05/2026 17:13:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTABELECIMENTO](
	[ID_ESTABELECIMENTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_FORNECEDOR] [int] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[NOME_FANTASIA] [varchar](100) NOT NULL,
	[CNPJ] [varchar](14) NULL,
	[TELEFONE] [varchar](20) NULL,
	[DESCRICAO] [text] NULL,
	[STATUS] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ESTABELECIMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[FORNECEDOR]    Data do Script: 16/05/2026 17:13:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORNECEDOR](
	[ID_FORNECEDOR] [int] IDENTITY(1,1) NOT NULL,
	[NOME_RESPONSAVEL] [varchar](100) NOT NULL,
	[DOCUMENTO] [varchar](18) NOT NULL,
	[EMAIL] [varchar](100) NULL,
	[SENHA] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FORNECEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[NPS]    Data do Script: 16/05/2026 17:13:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NPS](
	[ID_NPS] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_ESTABELECIMENTO] [int] NOT NULL,
	[NPS_GERAL] [int] NULL,
	[NPS_NOTA] [int] NULL,
	[COMENTARIO] [text] NULL,
	[DATA_AVALIACAO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NPS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOME_CATEGORIA]) VALUES (1, N'Bar Tradicional')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOME_CATEGORIA]) VALUES (2, N'Pub')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOME_CATEGORIA]) VALUES (3, N'Boteco')
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOME], [CPF], [EMAIL], [SENHA], [DATA_CADASTRO]) VALUES (1, N'Leonardo Prates', N'45411235544', N'leoprates@hotmail.com', N'leonardo0311', CAST(N'2026-05-03T12:36:29.497' AS DateTime))
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOME], [CPF], [EMAIL], [SENHA], [DATA_CADASTRO]) VALUES (2, N'Kaua Vinicius', N'44522212533', N'kaua@hotmail.com', N'kauazin123', CAST(N'2026-05-03T12:36:29.497' AS DateTime))
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOME], [CPF], [EMAIL], [SENHA], [DATA_CADASTRO]) VALUES (3, N'Moises Vicentin', N'48822135665', N'moises@gmail.com', N'moises999', CAST(N'2026-05-03T12:36:29.497' AS DateTime))
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
SET IDENTITY_INSERT [dbo].[ENDERECO] ON 

INSERT [dbo].[ENDERECO] ([ID_ENDERECO], [ID_ESTABELECIMENTO], [RUA], [NUMERO], [BAIRRO], [CIDADE], [ESTADO], [CEP]) VALUES (1, 1, N'Rua barao do bananal', N'25', N'Centro', N'Ribeirão Preto', N'SP', N'14050666')
INSERT [dbo].[ENDERECO] ([ID_ENDERECO], [ID_ESTABELECIMENTO], [RUA], [NUMERO], [BAIRRO], [CIDADE], [ESTADO], [CEP]) VALUES (2, 2, N'Rua Campos Salles', N'30', N'Centro', N'Ribeirão Preto', N'SP', N'14000222')
INSERT [dbo].[ENDERECO] ([ID_ENDERECO], [ID_ESTABELECIMENTO], [RUA], [NUMERO], [BAIRRO], [CIDADE], [ESTADO], [CEP]) VALUES (3, 3, N'Rua Eugenio da Silva', N'777', N'Parque das Andorinhas', N'Ribeirão Preto', N'SP', N'14055444')
SET IDENTITY_INSERT [dbo].[ENDERECO] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTABELECIMENTO] ON 

INSERT [dbo].[ESTABELECIMENTO] ([ID_ESTABELECIMENTO], [ID_FORNECEDOR], [ID_CATEGORIA], [NOME_FANTASIA], [CNPJ], [TELEFONE], [DESCRICAO], [STATUS]) VALUES (1, 1, 11, N'Cantinho da Picanha', N'12345678000199', N'16996332255', N'Restaurante Diversos', N'Ativo')
INSERT [dbo].[ESTABELECIMENTO] ([ID_ESTABELECIMENTO], [ID_FORNECEDOR], [ID_CATEGORIA], [NOME_FANTASIA], [CNPJ], [TELEFONE], [DESCRICAO], [STATUS]) VALUES (2, 2, 11, N'Sushi Hot', N'12345678000188', N'16995112200', N'Restaurante Comida Japonesa', N'Ativo')
INSERT [dbo].[ESTABELECIMENTO] ([ID_ESTABELECIMENTO], [ID_FORNECEDOR], [ID_CATEGORIA], [NOME_FANTASIA], [CNPJ], [TELEFONE], [DESCRICAO], [STATUS]) VALUES (3, 3, 4, N'Bar do Nelson', N'12345678000290', N'16995663322', N'Bar e comida de boteco', N'Ativo')
SET IDENTITY_INSERT [dbo].[ESTABELECIMENTO] OFF
GO
SET IDENTITY_INSERT [dbo].[FORNECEDOR] ON 

INSERT [dbo].[FORNECEDOR] ([ID_FORNECEDOR], [NOME_RESPONSAVEL], [DOCUMENTO], [EMAIL], [SENHA]) VALUES (1, N'Denis da Silva', N'12233356588', N'denis@dono.com', N'denis2020')
INSERT [dbo].[FORNECEDOR] ([ID_FORNECEDOR], [NOME_RESPONSAVEL], [DOCUMENTO], [EMAIL], [SENHA]) VALUES (2, N'Josemar Machado', N'22144587822', N'jose@dono.com', N'jose1010')
INSERT [dbo].[FORNECEDOR] ([ID_FORNECEDOR], [NOME_RESPONSAVEL], [DOCUMENTO], [EMAIL], [SENHA]) VALUES (3, N'Claudio Henrique', N'25413699988', N'claudio@dono.com', N'claudio22')
SET IDENTITY_INSERT [dbo].[FORNECEDOR] OFF
GO
SET IDENTITY_INSERT [dbo].[NPS] ON 

INSERT [dbo].[NPS] ([ID_NPS], [ID_CLIENTE], [ID_ESTABELECIMENTO], [NPS_GERAL], [NPS_NOTA], [COMENTARIO], [DATA_AVALIACAO]) VALUES (1, 1, 1, 5, 10, N'Otimo restaurante', CAST(N'2026-05-03T13:01:48.083' AS DateTime))
INSERT [dbo].[NPS] ([ID_NPS], [ID_CLIENTE], [ID_ESTABELECIMENTO], [NPS_GERAL], [NPS_NOTA], [COMENTARIO], [DATA_AVALIACAO]) VALUES (2, 2, 1, 4, 8, N'Muito bom mas pode melhorar', CAST(N'2026-05-03T13:01:48.083' AS DateTime))
SET IDENTITY_INSERT [dbo].[NPS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ__CADCLI__C1F89731B886F1DE]    Data do Script: 16/05/2026 17:13:51 ******/
ALTER TABLE [dbo].[CLIENTE] ADD UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ__CADRES__AA57D6B4DDEF3243]    Data do Script: 16/05/2026 17:13:51 ******/
ALTER TABLE [dbo].[ESTABELECIMENTO] ADD UNIQUE NONCLUSTERED 
(
	[CNPJ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto:  Index [UQ__CADFOR__C1F8973126C7EFCE]    Data do Script: 16/05/2026 17:13:51 ******/
ALTER TABLE [dbo].[FORNECEDOR] ADD UNIQUE NONCLUSTERED 
(
	[DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [DATA_CADASTRO]
GO
ALTER TABLE [dbo].[ESTABELECIMENTO] ADD  DEFAULT ('Pendente') FOR [STATUS]
GO
ALTER TABLE [dbo].[NPS] ADD  DEFAULT (getdate()) FOR [DATA_AVALIACAO]
GO
ALTER TABLE [dbo].[ENDERECO]  WITH CHECK ADD  CONSTRAINT [FK_ENDERECO_ESTABELECIMENTO] FOREIGN KEY([ID_ESTABELECIMENTO])
REFERENCES [dbo].[ESTABELECIMENTO] ([ID_ESTABELECIMENTO])
GO
ALTER TABLE [dbo].[ENDERECO] CHECK CONSTRAINT [FK_ENDERECO_ESTABELECIMENTO]
GO
ALTER TABLE [dbo].[ESTABELECIMENTO]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[ESTABELECIMENTO]  WITH CHECK ADD FOREIGN KEY([ID_FORNECEDOR])
REFERENCES [dbo].[FORNECEDOR] ([ID_FORNECEDOR])
GO
ALTER TABLE [dbo].[NPS]  WITH CHECK ADD  CONSTRAINT [FK_NPS_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[NPS] CHECK CONSTRAINT [FK_NPS_CLIENTE]
GO
ALTER TABLE [dbo].[NPS]  WITH CHECK ADD  CONSTRAINT [FK_NPS_ESTABELECIMENTO] FOREIGN KEY([ID_ESTABELECIMENTO])
REFERENCES [dbo].[ESTABELECIMENTO] ([ID_ESTABELECIMENTO])
GO
ALTER TABLE [dbo].[NPS] CHECK CONSTRAINT [FK_NPS_ESTABELECIMENTO]
GO
ALTER TABLE [dbo].[NPS]  WITH CHECK ADD CHECK  (([NPS_GERAL]>=(1) AND [NPS_GERAL]<=(5)))
GO
ALTER TABLE [dbo].[NPS]  WITH CHECK ADD CHECK  (([NPS_NOTA]>=(0) AND [NPS_NOTA]<=(10)))
GO
USE [master]
GO
